search --file --set=root /EFI/LINUX/BZIMAGE

menuentry "CoreSys Linux" {
    linux /EFI/LINUX/BZIMAGE rdinit=/init initcall_debug loglevel=7 console=ttyS0 console=tty0
    initrd /EFI/LINUX/GZ.GZ
}